* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    font-family: 'Young Serif', serif;
}

body {
    background-color: #e5e5e5;
}

h2 {
    margin: 24px 0;
}

.container {
    max-width: 1366px;
    margin: 0 auto;
    padding: 0 20px; /* Adicionando um padding para o conteúdo não ficar grudado nas bordas */
}

#cabecalho {
    background-color: rgb(145, 87, 199);
    padding: 0 20px; /* Adicionando padding para o cabeçalho */
}

#cabecalho .container {
    align-items: center;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 24px 0;
}

.cabecalho__menu-lista-item {
    display: inline;
    margin-left: 24px;
}

.cabecalho__menu-lista-item a {
    color: white;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
}

/* Conteúdo da página */

main .container {
    flex-direction: column;
}

main .container img {
    width: 100%; /* Fazendo a imagem ocupar 100% da largura do seu contêiner */
    max-width: 100%;
    height: auto; /* Garantindo que a proporção da imagem seja mantida */
    margin-bottom: 20px; /* Adicionando margem inferior à imagem */
}

.container article {
    margin-left: 0; /* Removendo a margem esquerda para o artigo */
}

/* Rodapé */

footer {
    background-color: rgb(145, 87, 199);
    color: white;
    font-size: 18px; /* Reduzindo o tamanho da fonte no rodapé */
    padding: 20px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
    text-align: center;
}
