* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Cabeçalho*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    font-family: 'Young Serif', serif;
}

body {
    background-color: #e5e5e5;
}

h2 {
    margin: 24px 0;
}

/*Cabeçalho do site*/

.container {
    max-width: 1366px;
    margin: 0 auto;
}

#cabecalho {
    background-color: rgb(145, 87, 199);
}

#cabecalho .container {
    align-items: center;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 24px 0;
}

.cabecalho__menu-lista-item {
    display: inline;
    margin-left: 24px;
}

.cabecalho__menu-lista-item a {
    color: white;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
}

/*conteudo da pagina*/

main .container {
    display: flex;
    margin-top: 34px;
}

main .container img{
    margin-right: 24px;
}

.container article p {
    margin-bottom: 24px;
}

.links li{
    display: inline;
    cursor: pointer;
    margin-left: 24px;
}

.links img {
    height: 28px;

}

.container article {
    margin-left: 24px;
}
/*Rodapé da página*/

footer {
    align-items: center;
    background-color: rgb(145, 87, 199);
    color: white;
    font-size: 24px;
    margin-top: 24px;
    padding: 20px 0;
    bottom: 0;
    position: fixed;
    width: 90%;
    text-align: center;
    position: fixed;
    width: 100%;
    text-align: center;
}